/* Staff ================================= */

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.show {
    display: block !important;
}

/* Sidebar ********************************************/

.videme-sidebar-title {
    color: #14171a;
    line-height: 22px;
    text-rendering: optimizeLegibility;
    margin-top: -.3rem;
    margin-left: -.3rem;
}

/* Sign ********************************************/

.videme-you-sign-user_cover, .videme-owner-sign-user_cover {
    object-fit: cover;
}

.videme-sign-sign-in {
    color: #14171a;
    line-height: 22px;
    text-rendering: optimizeLegibility;
    margin-left: 1.5rem;
}

/* Owner sign ********************************************/

.videme-owner-sign-user_picture {
    margin-left: 25px;
}

/* You sign ********************************************/

.videme-you-sign-user_picture {
    margin-left: 25px;
}

.videme-city-marker {
    float: left;
    margin: 0 .6rem;
}

.videme-city-name {
}

.videme-country-marker {
    float: left;
    margin: 0 .6rem;
}

.videme-country-name {
    float: left;
}

.videme-user_link-name {
}

.videme-user_link-marker {
    float: left;
    margin: 0 .6rem;
}

/* Spring sign ********************************************/

.videme-sign-text {
    /*position: relative;*/
    font-size: 1rem;
    /*color: black;
    font-family: sans-serif;*/
}

.videme-sign-text-concat {
    /*position: relative;
    display: inline-block;*/
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5rem; /* (Number of lines you want visible) * (line-height) */
    /*line-height: 1.2em;
    text-align:justify;*/
}

.videme-sign-text.ellipsis::after {
    /*content: "...";
    position: absolute;
    right: -12px;
    bottom: 5px;*/
}
.videme-owner-sign-country {
    /*line-height: .2rem;*/
}

.videme-owner-sign-city {
    /*line-height: .2rem;*/
}

.videme-owner-sign-user_link {
    /*line-height: .2rem;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Showcase ********************************************/

.videme-showcase-user_picture {
    max-height: 36px;
    max-width: 36px;

}

/*.videme-showcase-video {
    !*height: 500px;*!
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.videme-showcase-video > video {
    width: 100%;
}*/

/*video {
    width: 100%    !important;
    height: auto   !important;
}*/

/* Nav bar sign*/

/* Video mini player ********************************* */

#videme-minivideo {
    position: fixed;
    /*display: none;*/
    right: 0;
    bottom: 0;
    max-width: 240px;
    max-height: 135px;
    z-index: 14;
}

#my_video2 {
    position: fixed;
    /*display: none;*/
    right: 0;
    bottom: 0;
    max-width: 240px;
    max-height: 135px;
    z-index: 14;
}

.closevideo {
    position: fixed;
    /*display: none;*/
    right: 240px;
    bottom: 135px;
    /*max-width: 240px;*/
    /*max-height: 135px;*/
    z-index: 15;
}


/* Notification flyover ================================= */
.flyover {
    left: 120%;
    overflow: hidden;
    position: fixed;
    width: 20%;
    opacity: 0.6;
    z-index: 1050;
    transition: left 0.6s ease-out 0s;
}

.flyover-centered {
    top: 20%;
    transform: translate(-50%, -50%);
}
.flyover.in {
    left: 78%;
}
.flyover-bottom {
    bottom: 10px;
}

/* Tile ================================= */

.videme-tile {
    width: 100%;
    /*padding: calc(15.396% + 52px) 10% 0;*/
    margin-right: auto;
    margin-left: auto;
}
.videme-tile-title {

}

.videme-tips-alert {
    width: 100%;
    margin-bottom: .1rem;
}

.videme-narrow-tile {
    width: 100%;
    padding-bottom: 56.274%;
}


.videme-relation-card-img-tile {
    float: left;
    width: 48px;
    height: 48px;
}
/* Box ================================= */
.videme-tile-item {
    padding: .5rem 0rem;
}

/* https://developer.mozilla.org/ru/docs/Web/CSS/flex */
.videme-tile-item-1-line {
    display: flex;
}
.videme-doorbell-sign-1st-line-title-date{
    /*display: flex;*/
}
.videme-tile-item-user {
    /*flex: 1;*/
    /* Grow to rest of container */
    /*background: lightgreen;*/
    /* Just so it's visible */
}
.videme-tile-item-owner {

}
.videme-tile-post-owner {

}
.videme-tile-post-type {
    /*font-size: 14px;
    color: black;
    !*font-family: sans-serif;*!
    margin-top: .2rem;*/
}
.videme-tile-item-created-at {
    /*width: 200px;*/
    /*background: lightblue;*/
    /* Just so it's visible */
    margin-left: 1rem;
}
.videme-tile-item-2-line {
    display: flex;
}
.videme-tile-item-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Grow to rest of container */
    /*background: lightgreen;*/
    /* Just so it's visible */
}

.videme-tile-box {
    float: left;
    position: relative;
    /*//background-color: #F8F8F8;
    //border-bottom: 1px solid #C6C6C6;
    //border-right: 1px solid #C6C6C6;
        /!*border: 1px solid #C6C6C6;*!/
        /!*width: 20%;*!/
        width: 33.333%;
    ////padding-bottom: 20%;
    //=padding-bottom: 16.4%;
    //==padding-bottom: 14%;
        padding-bottom: 18.644%;
        /*background-color: white;*/
    width: 100%;
    padding-bottom: 56.25%;
}

.videme-tile-boxInner {
    position: absolute;
    /*left: 1%;
    right: 1%;*/
    top: 0%;
    bottom: 0%;
    overflow: hidden;
    border: 1px solid #BCE8F1;
    width: 100%;

}
.videme-tile-boxInner img {
    width: 100%;
}

.titleTop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*width:100%;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /*
    color:#F0F0F0;
    background-color:rgba(155, 240, 190, 0.5);
    color:rgba(240, 240, 240, 0.8);
    padding-left: 0.5em;
    */

    background-color: rgba(230, 230, 230, 0.5);
    padding: 8px;
    margin: 8px;
    color: black;


    font-size: medium;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
///height: 1.2em;
    /*height: 1.8em;*/
///line-height: 1.5;
    /*line-height: 2;*/
    /*width: 87%;*/


}

.videme-tile-signboard-true {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color:#F0F0F0;

    background-color:rgba(128, 128, 128, 0.5);
    color:rgba(240, 240, 240, 0.8);
    padding-left: 0.5em;
    font-size: medium;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;

    height: 50%;
///line-height: 1.5;
    line-height: 8;
    width: 100%;

    position:absolute;
    bottom:0;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.35) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */

}

/* Article ================================= */

.videme-cover-image {
    background-size: 100%;
/ / background-size : cover;
    background-position: center center;
    max-height: 300px;
    min-height: 300px;

    border: solid 1px #bce8f1;
    padding: 8px;
/ / margin : 8 px;
    position: relative;
}

.videme-article-center {
    line-height: 36px;
    font-size: 18px;
    margin: 0px 0px 25px;
    margin-top: 0px;
    margin-right-value: 0px;
    margin-bottom: 25px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    font-weight: 300;
}

.videme-article-center img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.videme-article-center video {
    /*width: 100%;
    max-width: 100%;*/
    width: 100%    !important;
    height: auto   !important;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Relations ================================= */

.videme-ralation-card-small {
    /*display: inline-block;
    vertical-align: middle;*/
    padding: .2rem 0;
}
.videme-relation-card-1-column {
    padding: 0;
}
.videme-relation-card-img {
    float: left;
    width: 70px;
    height: 70px;
}
.videme-relation-card-2-column {
    /*float: left;*/
}
.videme-relation-card-user {
    font-size: 0.9em;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    /*background: #fc0;*/ /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    /*text-overflow: ellipsis;*/ /* Добавляем многоточие */
}
.videme-relation-card-post-count-wrap {
    display: inline-flex;
}
.videme-relation-card-post-count-icon {
    padding: 0 .2rem;
    /*margin-top: 50%;
    margin-bottom: auto;*/
}
.videme-relation-card-post-count {
    padding: 0 .2rem;
    /*margin-top: 50%;
    margin-bottom: auto;*/
}
.videme-relation-card-button-connect-wrap {
    /*margin-top: -1rem;*/
}
.videme-relation-card-button-connect {
    /*padding: 5px;*/
    float: right;
}

/*ul li:after { content: "==="; }*/

/* videme-doorbell-sign-small ================================= */
.videme-list-group {
    padding: .5rem 1rem;
}
.videme-doorbell-sign-small {

}
.videme-doorbell-sign-cover {
    /*background: deepskyblue;
    padding: 1em;
    text-align: center;*/
}
.videme-doorbell-sign-image {
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/

}
.videme-doorbell-sign-img {
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/
    width: 4rem;
    height: 4rem;
    float: left;
}
.videme-doorbell-sign-icon {
    width: 4rem;
    height: 4rem;
    /*margin-top: auto;
    margin-bottom: auto;*/
}
.videme-doorbell-sign-1st-line {
    display: flex;
}
.videme-doorbell-sign-2st-line {
    display: inline-flex;
    /*justify-content: center;*/
    align-items: flex-end;
}
.videme-doorbell-sign-title { /*1*/
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/
    float: left;
    margin: 0 0 0 .5em;
}
.videme-doorbell-sign-date { /*2*/
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/
    margin: 0 0 0 .5em;
    font-size: .9rem;
}
.videme-doorbell-sign-action{
    margin: auto .7rem auto auto;
}
.videme-doorbell-sign-additional { /*4*/
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/
    float: left;
    margin: 0 .5rem 0 .5rem;
}
.videme-doorbell-sign-count { /*3*/
    /*display: inline-block;
    background: tomato;
    padding: .5em;*/
    float: left;
    margin: 0 .5rem 0 .5rem;
}

/* Spring *********************************/
.header-site{
    height: 200px;
    background-color: #000000;
    /*background-image: url(https://ak3.picdn.net/shutterstock/videos/4521746/thumb/1.jpg); */
    float: left;
    margin:0 0 3px 0;
    padding: 5px 0 0 0 ;
    width: 100%;

    /*vertical-align: middle;

       background-repeat: no-repeat;*/
    background: no-repeat center;
    background-size: 100%;
}

/*div#imageContainer {
    background: #ccc;

    height: 48px;
    vertical-align: bottom;
    display: table-cell;
}

#imageContainer img {
    vertical-align: bottom
}*/

.header-site {
    position: relative;
    /*
      height: 300px;
    */
}

.imageContainer {
    position: absolute;
    bottom: 10px;
    left: 64px;
}
.imageContainer img {
    width: 120px;
    height: 120px;
}
.videme-spring-slogan {
    bottom: 0;
    position: absolute;
    right: 1rem;
    color: white;
    background: gray;
}

/*.user_display_name a {
    color: whitesmoke;
    font-weight: bold;
  margin-left: 64px;
    }*/

.springContainer {
    padding: 0px 0px 0px 0px;

}
.spring_activity_posts {
    margin: -.5rem .8rem;
}
.spring_activity_posts_label {
    display: block;
}
.spring_activity_posts_value {

}
.spring_activity_video {
    margin: -.5rem .8rem;
}
.spring_activity_video_label {
    display: block;
}
.spring_activity_video_value {

}
.spring_activity_image {
    margin: -.5rem .8rem;
}
.spring_activity_image_label {
    display: block;
}
.spring_activity_image_value {

}
.spring_activity_article {
    margin: -.5rem .8rem;
}
.spring_activity_article_label {
    display: block;
}
.spring_activity_article_value {

}
.spring_activity_friends {
    margin: -.5rem .8rem;
}
.spring_activity_friends_label {
    display: block;
}
.spring_activity_friends_value {

}
.spring_activity_relation_to {
    margin: -.5rem .8rem;
}
.spring_activity_relation_to_label {
    display: block;
}
.spring_activity_relation_to_value {

}
.spring_activity_relation_from {
    margin: -.5rem .8rem;
}
.spring_activity_relation_from_label {
    display: block;
}
.spring_activity_relation_from_value {

}

/* Pas User info*/
.pas_info_user_id_face_img {
    max-width: 50%;
    max-height: 50%;
    display: flex;
}
.pas_info_user_cover {
    max-width: 75%;
    max-height: 75%;
    display: flex;
}

/* Item preview*/
/*
.videme-item-prev-img {
    max-width: 6rem;
    max-height: 6rem;
    min-width: 6rem;
    min-height: 6rem;
}*/

/* Modal */

.modal{
    /*display: block !important;  I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    /*overflow-y: initial !important*/
}
.modal-body{
    /*height: 250px;*/
    /*overflow-y: auto;*/
}

/* Modal image */

.videme-modal-item-image {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* Modal article */

.videme-modal-article-content-place {
    overflow-y: auto;
    max-height: 70vh;
}

/* videojs */

/* Item Edit */

.videme_item_edit_image {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 5.5rem;
    min-height: 5.5rem;
}

/* embed */
.input_embed {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

/* Image Cropper*/

.modal-body img {
    max-width: 100%;
}